.banner {
    background-color: var(--secondary-main);

    position: fixed;
    width: calc(100% - 1em);
    top: 0px;
    left: 0px;
    z-index: 20;
    height: 2em;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    line-height: 2em;
    padding: 0em 0.5em;
}

.banner a {
    color: var(--secondary-content);
    text-decoration: none;
    align-self: center;
}

.banner nav {
    text-align: right;
}

.banner .menu a {
    line-height: 1.5em;
}

.banner .menu {
    position: relative;
    flex-wrap: wrap;
    text-align: right;
    line-height: 1.5em;
    display: none;
}

.banner button {
    position: relative;
    right: 0px;
    font-size: small;
    height: calc(100% - 2em);
    width: 4em;
    position: relative;
    right: -1em;
    font-size: small;
    height: 5em;
    width: 5em;
    top: -1em;
    border-radius: unset;
}

.banner .visible {
    display: block;
}

@media (min-width: 900px) {
    .banner button {
        display: none;
    }

    .banner .menu {
        display: flex;
        column-gap: 15px;
        line-height: 2em;
        font-size: medium;
        align-content: center;
        height: 100%;
    }

    .banner .menu a {
        align-content: center;
    }
}
