#root {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
}

.card {
    padding: 2em;
    display: flex;
}

.card .card-left {
    flex-grow: 1;
}

.card .card-right {
    flex-grow: 1;
}
