/* Set Colour Variables */

:root {
    --primary-main: #faedf8;
    --primary-content: #531941;
    --secondary-main: #f5d9f1;
    --secondary-content: #913a78;
    /* --primary-main: #562634;
    --primary-content: #d7a4b3;
    --primary-light: #793649;
    --primary-dark: #33161f;
    --secondary-main: #4c5626;
    --secondary-content: #ccd7a4;
    --secondary-light: #6b7936;
    --secondary-dark: #2d3316; */
}

[data-theme="dark"] {
    --primary-main: #531941;
    --primary-content: #faedf8;
    --secondary-main: #913a78;
    --secondary-content: #f5d9f1;

    /* --primary-main: #562634;
    --primary-content: #d7a4b3;
    --primary-light: #793649;
    --primary-dark: #33161f;
    --secondary-main: #4c5626;
    --secondary-content: #ccd7a4;
    --secondary-light: #6b7936;
    --secondary-dark: #2d3316; */
}

/* Set Global Styling */

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--primary-content);
    background-color: var(--primary-main);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    max-width: 60rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
}

a {
    color: var(--secondary-content);
}
